
@{
    ViewData["Title"] = "ListUsers";
}

<style>
body{
            background-color: #FF4CBA;
            /* For browsers that do not support gradients */
            background-image: linear-gradient(#43C6AC, #191654);  
}


label{
    font-size: 20px;
}

select{
    margin-bottom: 15px;
}

input{
    margin-bottom: 15px;
}
</style>

<div class="bg-image">
  <div class="container mt-5 mb-5">
    <div class="card" style="opacity: 85%;">
      <div class="card-header">
        <h1>Reset Users Password</h1>
      </div>
      <div class="card-body">
 <form action="@Url.Action("ResetUserPassword", "Account")" method="post">
                     
            <label type="Email">Email</label>

             <select id="email" name="email" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a User Name</option>
                        @foreach (var name in ViewBag.users)
                        {
                            <option value="@name.UserName">@name.UserName</option>
                        }
                    </select>
            <label type="Password" class="mt-2">Enter New Password</label>
            <input id="password" name="password" class="form-control" />
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
        </div>
        </div>
        </div>
        </div>

