@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <title>
        Login Page
    </title>
    <style>
        #bgcolor {
            background-color: #FF4CBA;
            /* For browsers that do not support gradients */
            background-image: linear-gradient(#020024, #097779, #00d4ff);
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="overflow-x: hidden" id="bgcolor">
    <div class="wrapper">
        <div class="card" style="width: 70rem; height: 30rem; position: relative; margin:auto; margin-top: 200px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img class="d-block w-100" style="width:45px; height: 27rem;" src="~/images/login.gif">
                    </div>
                    <div class="col-6">
                            <div class="text-center">
                                <h3 style="color: #00d4ff; font-weight: 200px;">LOGIN</h3>
                            </div>
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                    
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                    
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                                    </div>
                    
                                </div>
                                 <p>
                                        @Html.ActionLink("Register as a new Manager", "RegisterAdmin")
                                    </p><p>
                                        @Html.ActionLink("Reset Password", "ResetPassword")
                                    </p>
                                <button type="submit" class="btn-primary">Login</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </body>

