
@using GroupCoursework.ViewModel
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
<style>
body{
            background-color: #FF4CBA;
            /* For browsers that do not support gradients */
            background-image: linear-gradient(#43C6AC, #191654);  
}


label{
    font-size: 20px;
}
</style>


<div class="bg-image">
  <div class="container mt-5 mb-5">
    <div class="card" style="opacity: 85%;">
      <div class="card-header">
        <h1>Reset Password</h1>
      </div>
      <div class="card-body">
          <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div></div>
            <button type="submit" class="btn-primary">Reset Password</button>
        </form>

      </div>
    </div>
  </div>
</div>
