@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> UserManager;

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center" style="color:white;text-shadow: 0 0 3px black; font-weight:800; margin:2% 76% 2% 0;">Functionalities</h1>
<style>

    li{
        font-weight:700;
    }

    .class{
        margin-right: 50%;
    }
</style>

<div class="container class">
    <ul class="m-2" style="opacity:100%;">
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="User" asp-action="GetActorDetails">1. View the title of all DVD's Stocked by the shop</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="User" asp-action="GetActorCopy">2. View the titles and number of copies</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetDateOut">3. View a member by MemberNumber or MemeberLastName and view loaned DVDs within the 31 Days</a>
        </li>

        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetList">4. List of Producer, Studio and cast list of all the DVDs in the shop</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetLoanDetails">5. Display customer/member detail with it's Last Loaned Detail</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="AddDVDCopy">6. Issue DVD copy on loan to a member</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="ListAllLoans">7. Record the Returned DVD copy</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetTotalLoans">8. Alphabetic List of all members with their detail and loans</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="DVDTitle" asp-action="Create">9. Create new DVD title into the system</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetListOfDVDCopy">10. Remove all data from stock allDVD copies</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetDVDCopyListNotLoaned">11. List of all DVD copies currently on loan in date order</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="MemberListNotBorrowed">12. List of member who has not borrowed DVD for the past 31 days</a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetDVDofNoLoan">
                13. View list of all DVD titles in the shop where no copy of the
                title has been loaned in the last 31 days
            </a>
        </li>
        <li class="list-group m-1">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Account" asp-action="ResetPassword">14. Change your own Password</a>
        </li>
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <li class="list-group m-1">
                <a class="list-group-item" asp-area="" style="color: black" asp-controller="Account" asp-action="ListUsers">14. Reset User Password</a>
            </li>
              <li class="list-group m-1">
                <a class="list-group-item" asp-area="" style="color: black" asp-controller="Account" asp-action="RegisterStaff">Register Assistant</a>
            </li>
        }



    </ul>
</div>
<br />
