@{
    ViewData["Title"] = "Home Page";
}

<style>
        .carousel-text {
            position: absolute;
            bottom: 10%;
            left: 67%;
            z-index: 20;
            color: white;
            text-shadow: 0 0 3px blue;
        }
        body{
            overflow-x: hidden;
        }
        .d-block{
           height:900px;
        }
    </style>

<div class="wrapper">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-interval="3000" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/images/02.gif" alt="First slide">
                    <div class="carousel-text">
                        <h2>You Name it, You Can Rent it!!</h2>
                    </div>
                </div>
 
            </div>
        </div>
    </div>
