@model GroupCoursework.Models.Producer

@{
    ViewData["Title"] = "Edit";
}
<style>
body{
            background-color: #FF4CBA;
            /* For browsers that do not support gradients */
            background-image: linear-gradient(#44A08D, #093637);
        }
.row{
    justify-content:center;
    margin-left: 50px;
    margin-top: 50px;  
}

form a{
 margin-right: 50%;
 color: white;
}
.control-label{
    font-size:25px;
    color:white;
}
</style>
<h1 class="text-center" style="font-weight:800; color:white; text-shadow: 0 0 5px 
black; margin-top: 15px; margin-bottom:25px;">Edit Producer</h1>


<hr />
<div class="container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProducerNumber" />
            <div class="form-group">
                <label asp-for="ProducerName" class="control-label"></label>
                <input asp-for="ProducerName" class="form-control" />
                <span asp-validation-for="ProducerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <a asp-action="Index" >Back to List</a>
        </form>
    
    </div>
</div>


@*<div>
    <a asp-action="Index" class="index">Back to List</a>
</div>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
